<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>
            IruveMane
        </title>
        <body>
            <div class="grid-container">
                <header class="header">
                    <div class="brand">
                        <a href="index.html">IruveMane</a>
                    </div>
                    <div class="search">
                        <input id="search-bar" name="search" type="text" placeholder="Type here to Search">
                        <input class ="search" id="search-button" name="search-submit" type="submit" value="Search">

                    </div>
                    <div class="header-links">
                        <a href="cart.html">Cart</a>
                        <a href="signin.html">Sign In</a>
                        
                    </div>
                </header>

                <aside>
                    Shop By Category
                </aside>
                <main class="main">
                    <div class="content">
                        <ul class="products">
                            <li>
                            <div class="product">
                                <img class="product-image" src="images/product1.jpg" alt="product">
                                <div class="product-name">Groceries</div>
                                <div class="product-brand">Arnold Bread</div>
                                <div class="price">Rs.12/-</div>
                            </div>
                    
                    
                        

                    </ul>
                </div>
                </main>
                <footer class="footer">
                    All rights reserved.
                </footer>
            </div>

        
        </body>
    </head>
</html>